:root {
  --window-shadow: inset 0px -1px 7px 0px rgb(50 50 50 / 6%), inset 0px -1px 0 rgb(250 250 250);
}

@media (prefers-color-scheme: dark) {
  :root {
    --window-shadow: inset 0px -2px 7px 0px rgb(16 16 16 / 22%), inset 0px -1px 0 rgb(44 44 44);
  }
}

.windowBar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 34px;
  width: 100%;
  box-shadow: var(--window-shadow);
  -webkit-app-region: drag;
}

[class='no-vibrancy'] .windowBar {
  background: var(--colorpicker-background-color);
}

[class='bordered'] .windowBar {
  border-radius: 4px;
}

[class='colored'] .windowBar {
  background: var(--main-color);
}

.spacer {
  flex: 1;
  height: 100%;
}
