body, p, h1, h2{
   margin: 0;
   font-family: sans-serif;
}
body{
   overflow: hidden;
}
a{color: inherit;text-decoration: none;}


/**
 * TOOLBAR
 */
.toolbar{
   padding: 10px;
   background: rgba(0, 0, 0, 0.1);
   position: relative;
   box-sizing: border-box;
   -webkit-app-region: drag;
}
.whited{
   background: rgba(255, 255, 255, 0.1);
}
   .toolbar p{
      color: rgba(0, 0, 0, 0.3);
      font-weight: bold;
      cursor: default;
      display: inline-block;
      margin-right: 20px;
   }
   .whited p{
      color: rgba(255, 255, 255, 0.3);
   }
   .toolbar #nuances, .toolbar #random{
      -webkit-app-region: no-drag;
      cursor: pointer;
      transition: 0.3s;
   }
   .toolbar #nuances:hover, .toolbar #random:hover{
      color: rgba(255, 255, 255, 0.9);
   }
   .toolbar p::selection, .toolbar li::selection, .toolbar div::selection{
      background: rgba(0, 0, 0, 0);
   }
   .toolbar ul{
      -webkit-app-region: no-drag;
      position: absolute;
      z-index: 15;
      top: 0px; right: 10px;
      margin: 0;
      padding: 0;
      height: 100%;
   }
      .toolbar li{
         display: inline-block;
         vertical-align: bottom;
         cursor: pointer;
         padding: 10px 5px;
         cursor: pointer;
      }
      .toolbar #close{
         padding: 10px;
      }
      .toolbar li div{
         transition: 0.2s;
      }
   .toolbar .minimize{
      width: 15px; height: 12px;
      position: relative;
      bottom: 1px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.3);
   }
   .whited .minimize{
      border-bottom: 3px solid rgba(255, 255, 255, 0.3);
   }
   .toolbar li:hover .minimize{
      border-bottom: 3px solid rgb(255, 255, 255);
   }
   .toolbar .square{
      width: 12px; height: 9px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-top: 3px solid rgba(0, 0, 0, 0.3);
   }
   .whited .square{
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-top: 3px solid rgba(255, 255, 255, 0.3);
   }
   .toolbar li:hover .square{
      border: 2px solid rgb(255, 255, 255);
      border-top: 3px solid rgb(255, 255, 255);
   }
   .toolbar .close{
      font-weight: bold;
      position: relative;
      top: 3px;
      transform: scale(1.5,1);
      color: rgba(0, 0, 0, 0.3);
   }
   .whited .close{
      color: rgba(255, 255, 255, 0.3);
   }
   .toolbar li:hover .close{
      color: rgb(255, 255, 255);
   }




/**
 * HEADER CSS
 */
header{
   position: relative;
   width: 100%;
}
header .nu, header .ni{
   display: flex;
}
header .nu aside{
   background: rgb(40, 40, 40);
   flex: 1 100%;
   height: 65px;
   cursor: pointer;
}
header .ni aside{
   background: rgb(70, 70, 70);
   flex: 1 100%;
   height: 50px;
   cursor: pointer;
}

/**
 * HEADER BOX CSS
 */
.nuance, .alea, .mode{
   display: inline-block;
   width: 80px;
   padding: 5px 0;
   background: rgba(0, 0, 0, 0.2);
   cursor: pointer;
   text-align: center;
   color: white;
   font-weight: 300;
}
.alea{ left: 200px;}
.mode{ left: 110px;}


/**
 * BOX COLORPICKER CSS
 */
.edit-box{
   background: rgba(0, 0, 0, 0.1);
   position: absolute;
   bottom: 0; left: 0;
   padding-top: 15px;
   padding-bottom: 3px;
   padding-left: 10px;
   width: 100%;
   text-align: center;
   display: flex;
   align-items: center;
}

.sliders{

}

.redBar, .greenBar, .blueBar{
   position: relative;
   width: 220px;
   height: 20px;
   padding: 6px 0;
}

/* STYLING SLIDER */
input[type=range]{
   margin: 0;
   padding: 3px 0;
   -webkit-appearance: none;
   outline: none;
   background: none;
   width: 100%;
   box-sizing: border-box;
}
input[type=range]::-webkit-slider-thumb {
   position: relative;
   z-index: 100;
   -webkit-appearance: none;
   border: none;
   height: 22px;
   width: 22px;
   border-radius: 50%;
   background: white;
   margin-top: -10px;
   cursor: pointer;
}

progress[value]::-webkit-progress-bar {
   position: absolute;
   width: 99%;
   top: 5px; left: 1px;
   background-color: white;
   border-radius: 6px;
   height: 10px;
}
.redBar progress[value]::-webkit-progress-value {
   background: rgb(255, 87, 57);
   border-radius: 6px;
   height: 10px;
}
.greenBar progress[value]::-webkit-progress-value {
   background: rgb(105, 195, 59);
   border-radius: 6px;
   height: 10px;
}
.blueBar progress[value]::-webkit-progress-value {
   background: rgb(65, 165, 225);
   border-radius: 6px;
   height: 10px;
}
progress{
   -webkit-appearance: none;
   appearance: none;
}

/* INPUTS STYLE */
.inputs{

}
   .inputs input{
      display: block;
      margin-bottom: 8px;
      margin-left: 10px;
   }

input[type="text"]{
   width: 30px;
   text-align: center;
   background: rgba(0, 0, 0, 0.1);
   color: white;
   border: none;
   padding: 2px;
   font-family: "Source Sans Pro", sans-serif;
   font-size: 1em;
   font-weight: 300;
   outline: none;
}

.value{
   margin-bottom: 9px;
   margin-left: 10px;
}
.value input{ width: 70px; }




/**
 * RESPONSIVE CSS
 */
@media screen and (max-width: 500px){

}

/**
 * VIEWPORT CSS
 */
@viewport{
   zoom: 1.0;
   width: extend-to-zoom;
}
@-ms-viewport{
   zoom: 1.0;
   width: extend-to-zoom;
}
