:root .settingsTopBar {
  --tbar-bg-hover: var(--window-darker);
  --tbar-bg-active: var(--window-darker);
  --tbar-bg-active-hover: var(--window-dark);

  --tbar-text: var(--overlay-default);
  --tbar-text-active: var(--overlay-lightest);

  --tbar-accent: var(--accent-variant-default);
}

:root[data-theme='dark'] .settingsTopBar {
  --tbar-bg-hover: var(--surface-default);
  --tbar-bg-active: var(--surface-default);
  --tbar-bg-active-hover: var(--window-lightest);

  --tbar-text: var(--overlay-default);
  --tbar-text-active: var(--overlay-darker);

  --tbar-accent: var(--accent-variant-default);
}

.settingsTopBar {
  -webkit-app-region: drag;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 20px 6px;
  flex-shrink: 0;
  gap: 4px;
  color: var(--tbar-text);
}

.windowControlsWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
}

.navItem {
  -webkit-app-region: no-drag;
  position: relative;
  max-width: 76px;
  height: 92px;
  cursor: default;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px 6px 10px 6px;
  border-radius: var(--radius-md);
  transition:
    background-color 0.2s,
    color 0.2s;
  color: inherit;
  word-break: break-all;
  overflow: hidden;
  text-align: center;
}

.navItem:focus-visible {
  outline: 2px solid var(--focus-outline);
  outline-offset: 0px;
  border-radius: var(--radius-md);
}

.navItem:hover,
.navItem.active {
  background: var(--tbar-bg-hover);
}

.navItem:active {
  color: var(--tbar-text-active);
  background: var(--tbar-bg-active-hover);
}

.navItem.active:hover {
  background: var(--tbar-bg-active-hover);
}

.navItem.active:active {
  background: var(--tbar-bg-active);
}

.navItem.active::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 40%;
  height: 4px;
  border-radius: var(--radius-md);
  background: var(--tbar-accent);
}

.navTitle {
  width: fit-content;
  margin: 0;
}

.navIcon {
  width: 100%;
  max-width: 64px;
  height: fit-content;
}
