:root .settingsItem {
  --s-item-bg: var(--window-lightest);
  --s-item-border: var(--window-darker);
  --s-item-label: var(--overlay-default);
  --s-item-description: var(--overlay-lighter);
}

:root[data-theme='dark'] .settingsItem {
  --s-item-bg: var(--window-lighter);
  --s-item-border: var(--window-dark);
  --s-item-label: var(--overlay-default);
  --s-item-description: var(--overlay-dark);
}

/* Settings Item ------------------------------------------- */

.settingsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 30px;
  border: 1.5px solid var(--s-item-border);
  background-color: var(--s-item-bg);
}

/* Remove the top border for all settings items except the first one */
.settingsItem + .settingsItem {
  border-top: none;
}

.settingsItemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 70%;
}

/* Settings Item Text ------------------------------------- */
.settingsItemLabel {
  color: var(--s-item-label);
}

.settingsItemDescription {
  color: var(--s-item-description);
}

/* Settings Item Control ---------------------------------- */
.settingsItemControl {
  flex-shrink: 0;
}

.settingsItemDisabled .settingsItemLabel,
.settingsItemDisabled .settingsItemDescription {
  opacity: 0.45;
}

.settingsItemDisabled .settingsItemControl {
  opacity: 0.5;
}
