:root .settingsAccordion {
  --s-acc-bg: var(--window-lightest);
  --s-acc-bg-hover: var(--window-light);
  --s-acc-bg-active: var(--window-light);

  --s-acc-text: var(--overlay-default);
  --s-acc-text-active: var(--overlay-lighter);

  --s-acc-border: var(--surface-light);
  --s-acc-border-hover: linear-gradient(
    to bottom,
    var(--surface-light) 90%,
    var(--surface-dark) 100%
  );
  --s-acc-border-active: var(--surface-light);

  --s-acc-icon-color: var(--overlay-lightest);
}

:root[data-theme='dark'] .settingsAccordion {
  --s-acc-bg: var(--window-lighter);
  --s-acc-bg-hover: var(--window-lightest);
  --s-acc-bg-active: var(--window-light);

  --s-acc-text: var(--overlay-default);
  --s-acc-text-active: var(--overlay-dark);

  --s-acc-border: var(--window-dark);
  --s-acc-border-hover: linear-gradient(
    to bottom,
    var(--surface-default) 0%,
    var(--window-lighter) 10%
  );
  --s-acc-border-active: var(--window-lightest);

  --s-acc-icon-color: var(--overlay-lightest);
}

/* Settings Accordion ------------------------------------------- */
.settingsAccordion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: var(--s-acc-bg);
  color: var(--s-acc-text);
  transition:
    background-color 0.15s,
    box-shadow 0.15s;
}

.settingsAccordion::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 1.5px solid transparent;
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  background: var(--s-acc-border) border-box;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.settingsAccordionClosed {
  border-radius: var(--radius-sm);
}

.settingsAccordionClosed::before {
  border-radius: var(--radius-sm);
}

.settingsAccordion:hover {
  background-color: var(--s-acc-bg-hover);
}

.settingsAccordion:hover::before {
  background: var(--s-acc-border-hover) border-box;
}

.settingsAccordion:active:hover:not(:has(.settingsAccordionActions :active)) {
  background-color: var(--s-acc-bg-active);
  color: var(--s-acc-text-active);
  box-shadow: unset;
}

.settingsAccordion:active:hover:not(:has(.settingsAccordionActions :active))::before {
  background: var(--s-acc-border-active) border-box;
}

.settingsAccordionInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 70%;
}

.settingsAccordionActions {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.settingsAccordionIcon {
  width: 16px;
  height: 16px;
}

.settingsAccordion:focus-visible .settingsAccordionIcon {
  outline: 2px solid var(--focus-outline);
  border-radius: 0.2px;
  outline-offset: 8px;
}

.settingsAccordionIconOpened {
  transform: rotate(180deg);
}

.settingsAccordionContent {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.1s ease;
}

.settingsAccordionInner {
  min-height: 0;
}

.settingsAccordionInner > *:first-child {
  border-top: unset;
}

.settingsAccordionContentOpen {
  grid-template-rows: 1fr;
}
