.sliders {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 8px;
  margin-left: 15px;
}

.sliders > :last-child {
  margin-bottom: 6px;
}
