:root .settingsItemList {
  --s-item-list-bg: var(--window-lightest);
  --s-item-list-border: var(--window-darker);

  --s-item-label-color: var(--overlay-default);
  --s-item-value-color: var(--overlay-lightest);
}

:root[data-theme='dark'] .settingsItemList {
  --s-item-list-bg: var(--window-lighter);
  --s-item-list-border: var(--window-darker);

  --s-item-label-color: var(--overlay-default);
  --s-item-value-color: var(--overlay-default);
}

/* Settings Item List --------------------------------- */
.settingsItemList {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 12px;
  padding: 15px 30px;
  border: 1px solid var(--s-item-list-border);
  background-color: var(--s-item-list-bg);
}

.settingsItemListRow {
  display: contents;
}

/* Settings Item List Texts --------------------------- */
.settingsItemListLabel {
  flex-shrink: 0;
  color: var(--s-item-label-color);
}

.settingsItemListEmpty {
  /* Empty placeholder for grid layout when there's no label */
}

.settingsItemListValue {
  user-select: text;
  cursor: text;
  color: var(--s-item-value-color);
}
