<!doctype html>
<html>
	<head>
		<title>ColorPicker</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/colorpicker.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<script defer src="js/color.class.js"></script>
		<script defer src="js/colorpicker.class.js"></script>
		<script defer src="js/colorpicker.events.js"></script>
	</head>
	<body>
		<div class="toolbar">
			<ul id="app_buttons">
				<li id="close">
					<i class="fa"></i>
				</li>
				<li id="minimize">
					<i class="fa"></i>
				</li>
				<li id="maximize">
					<i class="fa"></i>
				</li>
			</ul>
			<ul id="tools">
				<p id="top_button"><i class="fa fa-map-pin"></i></p>
				<p id="picker_button"><i class="fa fa-eyedropper"></i></p>
				<p id="tags_button"><i class="fa fa-bookmark"></i></p>
				<p id="shade_button"><i class="fa fa-tint"></i></p>
				<p id="random_button"><i class="fa fa-random"></i></p>
			</ul>
		</div>
		<header>
			<div class="ni">
				<aside id="ni1" data-color=""></aside>
				<aside id="ni2" data-color=""></aside>
				<aside id="ni3" data-color=""></aside>
				<aside id="ni4" data-color=""></aside>
				<aside id="ni5" data-color=""></aside>
				<aside id="ni6" data-color=""></aside>
				<aside id="ni7" data-color=""></aside>
				<aside id="ni8" data-color=""></aside>
				<aside id="ni9" data-color=""></aside>
				<aside id="ni10" data-color=""></aside>
				<aside id="ni11" data-color=""></aside>
			</div>
			<div class="nu">
				<aside id="nu1" data-color=""></aside>
				<aside id="nu2" data-color=""></aside>
				<aside id="nu3" data-color=""></aside>
				<aside id="nu4" data-color=""></aside>
				<aside id="nu5" data-color=""></aside>
				<aside id="nu6" data-color=""></aside>
				<aside id="nu7" data-color=""></aside>
				<aside id="nu8" data-color=""></aside>
				<aside id="nu9" data-color=""></aside>
				<aside id="nu10" data-color=""></aside>
				<aside id="nu11" data-color=""></aside>
			</div>
		</header>
		<section class="edit-box">
			<aside class="sliders">
				<div class="red_bar">
					<input type="range" min="0" max="255" value="0" />
					<progress min="0" max="255" value="0" />
				</div>
				<div class="green_bar">
					<input type="range" min="0" max="255" value="0" />
					<progress min="0" max="255" value="0" />
				</div>
				<div class="blue_bar">
					<input type="range" min="0" max="255" value="0" />
					<progress min="0" max="255" value="0" />
				</div>
			</aside>
			<aside class="inputs">
				<input type="number" id="red_value" maxlength="3" />
				<input type="number" id="green_value" maxlength="3" />
				<input type="number" id="blue_value" maxlength="3" />
			</aside>
			<aside class="value">
				<input type="text" id="hex_value" maxlength="7"/>
				<p id="rgb_value"></p>
			</aside>
			<div id="settings"><i class="fas fa-cog"></i></div>
		</section>
   </body>
</html>
