<!DOCTYPE html>
<html>
    <head>
        <title>Colorsbook</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/app-buttons.css" />
        <link rel="stylesheet" href="css/colorsbook.css" />
        <link rel="stylesheet" href="css/fontawesome-all.min.css" />
        <script defer src="js/colorsbook.js"></script>
        <script defer src="js/util.class.js"></script>
    </head>
    <body>
        <div class="toolbar">
            <ul id="app_buttons">
                <li id="close"><i></i></li>
                <li id="minimize"><i></i></li>
                <li id="maximize"><i></i></li>
            </ul>
            <ul id="tools"></ul>
        </div>
        <section id="main">
            <section id="categories-wrapper">
                <section id="categories"></section>
            </section>
            <section id="colors"></section>
            <aside id="popup_category">
                <input type="text" placeholder="name" maxlength="12" />
            </aside>
            <aside id="popup_color">
                <input type="text" placeholder="#FFFFFF" maxlength="7" />
            </aside>
        </section>
    </body>
</html>
