<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings Colorpicker</title>
    <link rel="stylesheet" href="./css/settings.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
    <script defer src="./js/settings.js"></script>
  </head>
  <body>
    <header>
      <li id="general" class="active">
        <img src="../ressources/general-icon.png" alt="General Settings">
        <p>General</p>
      </li>
      <li id="colorpicker">
        <img src="../ressources/colorpicker-icon.png" alt="Colorpicker Settings">
        <p>Colorpicker</p>
      </li>
      <li id="picker">
        <img src="../ressources/picker-icon.png" alt="Picker Settings">
        <p>Picker</p>
      </li>
      <li id="colorsbook">
        <img src="../ressources/colorsbook-icon.png" alt="Colorsbook Settings">
        <p>Colorsbook</p>
      </li>
      <li id="about">
        <img src="../ressources/about-icon.png" alt="About Settings">
        <p>About</p>
      </li>
    </header>
    <section class="panel active" id="general-tab">
      <h2>Application</h2>
      <p>Show Tray icon <i class="fa fa-toggle-off"></i></p>
      <h2>Colorpicker Tools</h2>
      <p>Change your toolset <span>(hover icon for description)</span></p>
      <section id="toolset">
        <div id="allTools"></div>
        <i class="arrow fa fa-exchange"></i>
        <div id="selectedTools"></div>
      </section>
    </section>
    <section class="panel" id="colorpicker-tab">
      <h2>Appearance</h2>
      <p>Change the position of app's icons</p>
      <section id="position">
        <li data-position="left">
          <img src="../ressources/position-left.png" alt="Position Left" />
          <p>Left position</p>
        </li>
        <li data-position="right">
          <img src="../ressources/position-right.png" alt="Position Right" />
          <p>Right position</p>
        </li>
      </section>
      <p>Change the type of app's icons</p>
      <section id="type-icons">
        <li data-type="osx">
          <img src="../ressources/osx-icons.png" alt="OSX Icons" />
          <p>OSX Icons</p>
        </li>
        <li data-type="windows">
          <img src="../ressources/windows-icons.png" alt="Windows Icons" />
          <p>Windows Icons</p>
        </li>
        <li data-type="linux">
          <img src="../ressources/linux-icons.png" alt="Linux Icons" />
          <p>Linux Icons</p>
        </li>
      </section>
    </section>
    <section class="panel" id="picker-tab">
      <h2>Zoom Level</h2>
      <p>Change zoom level for picker</p>
      <section id="zoom-level">
        <li data-zoom="3">
          <img src="../ressources/zoom-3.png" alt="Zoom 3" />
          <p>Zoom level 3</p>
        </li>
        <li data-zoom="5">
          <img src="../ressources/zoom-5.png" alt="Zoom 5" />
          <p>Zoom level 5</p>
        </li>
        <li data-zoom="7">
          <img src="../ressources/zoom-7.png" alt="Zoom 7" />
          <p>Zoom level 7</p>
        </li>
        <li data-zoom="11">
          <img src="../ressources/zoom-11.png" alt="Zoom 11" />
          <p>Zoom level 11</p>
        </li>
      </section>
    </section>
    <section class="panel" id="colorsbook-tab">
      <h2>Colorsbook</h2>
      <p>No settings for the moment.</p>
    </section>
    <section class="panel" id="about-tab">
      <h2>About</h2>
      <p>Colopicker - version <span id="colorpicker-version"></span></p>
      <p>Electron - version <span id="electron-version"></span></p>
      <p>Node - version <span id="node-version"></span></p>
      <p>Chrome - version <span id="chrome-version"></span></p>
      <p>V8 - version <span id="v8-version"></span></p>
      <h2>Update</h2>
      <p>No update available</p>
      <h2>Thank's part</h2>
      <p>Colorpicker is developed by Toinane with <i class="fa fa-heart"></i></p>
    </section>
  </body>
</html>
