<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Settings Colorpicker</title>
    <link rel="stylesheet" href="./css/settings.css" />
    <link rel="stylesheet" href="./css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="./css/tippy.css" />
    <script src="./js/sortable.js"></script>
    <script src="./js/tippy.js"></script>
    <script defer src="./js/settings.js"></script>
  </head>
  <body>
    <header>
      <li id="general" class="active">
        <img src="../ressources/general-icon.png" alt="General Settings" />
        <p>General</p>
      </li>
      <li id="colorpicker">
        <img
          src="../ressources/colorpicker-icon.png"
          alt="Colorpicker Settings"
        />
        <p>Colorpicker</p>
      </li>
      <li id="picker">
        <img src="../ressources/picker-icon.png" alt="Picker Settings" />
        <p>Picker</p>
      </li>
      <li id="colorsbook">
        <img
          src="../ressources/colorsbook-icon.png"
          alt="Colorsbook Settings"
        />
        <p>Colorsbook</p>
      </li>
      <li id="about">
        <img src="../ressources/about-icon.png" alt="About Settings" />
        <p>About</p>
      </li>
    </header>
    <section class="panel active" id="general-tab">
      <!-- <h2>Application</h2> -->
      <!-- <p class="toggle" id="tray-icon"><i class="fa fa-toggle-off"></i> Show Tray icon</p> -->
      <h2>Colorpicker Tools</h2>
      <p>Change your toolset</p>
      <section id="toolset">
        <div id="allTools"></div>
        <i class="arrow fa fa-exchange"></i>
        <div id="selectedTools"></div>
      </section>
      <h2>Preferences</h2>
      <p id="reset">Reset Colorpicker</p>
    </section>
    <section class="panel" id="colorpicker-tab">
      <h2>Appearance</h2>
      <p class="toggle" id="colorfull-app">
        <i class="fa fa-toggle-off"></i> Show complementary colors in OSX Icons
      </p>
      <p>Change the position of app's icons</p>
      <section id="position">
        <li data-position="left">
          <img src="../ressources/position-left.png" alt="Position Left" />
          <p>Left position</p>
        </li>
        <li data-position="right">
          <img src="../ressources/position-right.png" alt="Position Right" />
          <p>Right position</p>
        </li>
      </section>
      <p>Change the type of app's icons</p>
      <section id="type-icons">
        <li data-type="osx">
          <img src="../ressources/osx-icons.png" alt="OSX Icons" />
          <p>OSX Icons</p>
        </li>
        <li data-type="windows">
          <img src="../ressources/windows-icons.png" alt="Windows Icons" />
          <p>Windows Icons</p>
        </li>
        <li data-type="linux">
          <img src="../ressources/linux-icons.png" alt="Linux Icons" />
          <p>Linux Icons</p>
        </li>
      </section>
    </section>
    <section class="panel" id="picker-tab">
      <h2>Options</h2>
      <p class="toggle" id="picker-realtime">
        <i class="fa fa-toggle-on"></i> Show color in realtime
      </p>
    </section>
    <section class="panel" id="colorsbook-tab">
      <h2>Colorsbook</h2>
      <!-- <p>Export/Import your colors</p>
      <button type="button" id="import">Import</button>
      <a id="export" href="data:' + '" download="colorsbook.json">Export</a> -->
    </section>
    <section class="panel" id="about-tab">
      <h2>Update</h2>
      <p id="update">Fetching..</p>
      <h2>About</h2>
      <p>Colopicker - version <span id="colorpicker-version"></span></p>
      <p>-</p>
      <p>
        Colorpicker is developed by Toinane with
        <i class="fa fa-heart"></i>
      </p>
    </section>
  </body>
</html>
