<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings Colorpicker</title>
    <link rel="stylesheet" href="./css/settings.css" />
    <script defer src="./js/settings.js"></script>
  </head>
  <body>
    <header>
      <li id="general-tab" class="active">
        <img src="../ressources/general-icon.png" alt="General Settings">
        <p>General</p>
      </li>
      <li id="colorpicker-tab">
        <img src="../ressources/colorpicker-icon.png" alt="Colorpicker Settings">
        <p>Colorpicker</p>
      </li>
      <li id="picker-tab">
        <img src="../ressources/picker-icon.png" alt="Picker Settings">
        <p>Picker</p>
      </li>
      <li id="colorsbook-tab">
        <img src="../ressources/colorsbook-icon.png" alt="Colorsbook Settings">
        <p>Colorsbook</p>
      </li>
      <li id="about-tab">
        <img src="../ressources/about-icon.png" alt="About Settings">
        <p>About</p>
      </li>
    </header>
    <section class="panel" id="general">

    </section>
    <h2>Appearance</h2>
    <section id="position">
      <p>Change the position of icons app</p>
      <li><img src="../ressources/position-left.png" alt="Position Left" /></li>
      <li><img src="../ressources/position-right.png" alt="Position Right" /></li>
    </section>
  </body>
</html>
