<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Picker</title>
    <style>
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        border: 1px solid red;
        cursor: crosshair;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <script>
      //window.addEventListener('mousemove', event => window.api.send('supportMove'))
      window.addEventListener("mouseup", (event) =>
        window.api.send("supportClick")
      );
      window.addEventListener("keyup", (event) => {
        if (event.code === "Escape") window.api.send("supportQuit");
      });
    </script>
  </body>
</html>
