.colorItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: self-start;
  gap: 8px;
  width: 96px;
  padding-bottom: 5px;
}

.colorItem {
  flex-shrink: 0;
  cursor: pointer;
  border-radius: var(--radius-md);
  border: 1px solid;
  width: 96px;
  height: 96px;
  transition: all 0.1s ease-in-out;
}

.colorItem:hover {
  rotate: 5deg;
  scale: 1.1;
}

.colorName {
  font-size: 10px;
}
