:root .appIcons {
  --app-icon-primary: var(--overlay-default);
  --app-icon-secondary: var(--overlay-lighter);
  --app-icon-tertiary: var(--overlay-lightest);

  --app-icon-bg-hover: var(--window-darker);
  --app-icon-bg-active: var(--window-dark);

  --app-icon-shadow-hover: inset 0 -1px var(--surface-default);
  --app-icon-shadow-active: inset 0 0 0 1px var(--surface-default);

  --app-icon-active: 0.8;
}

:root[data-theme='dark'] .appIcons,
[class~='COLORED'][class~='DARK_COLOR'] .appIcons {
  --app-icon-primary: var(--overlay-default);
  --app-icon-secondary: var(--overlay-dark);
  --app-icon-tertiary: var(--overlay-darker);

  --app-icon-bg-hover: var(--surface-light);
  --app-icon-bg-active: var(--surface-default);

  --app-icon-shadow-hover: inset 0 1px var(--surface-lightest);
  --app-icon-shadow-active: inset 0 0 0 1px var(--surface-lightest);

  --app-icon-active: 0.7;
}

.appIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.iconContainer {
  -webkit-app-region: no-drag;
  width: 28px;
  height: 100%;
  padding: 3px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 0 1px;
  transition: 0.3s background;
}

.iconContainer.selected {
  background: var(--app-icon-selected);
}

.iconContainer:hover {
  background: var(--app-icon-bg-hover);
  box-shadow: var(--app-icon-shadow-hover);
  transition: 0.1s background;
}

.iconContainer:active:hover {
  background: var(--app-icon-bg-active);
  box-shadow: var(--app-icon-shadow-active);
  transition: 0s background;
}

.iconContainer .svgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.iconContainer svg {
  transition: 0.2s;
}

.iconContainer:active:hover svg {
  opacity: var(--app-icon-active);
}
