.colorSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors[data-variant='single'] {
  gap: 12px;
}

.colors[data-variant='swatch'] {
  gap: 0;
}
