.hexInputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.hexInputCopyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 4px;
  background: transparent;
  opacity: 0.7;
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

.hexInputCopyButton:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.15);
}

.DARK .hexInputCopyButton:hover {
  background: rgba(255, 255, 255, 0.2);
}

.hexInput {
  background: linear-gradient(165deg, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 50%);
  color: black;
  width: 82px;
  height: 24px;
  font-family: var(--colorpicker-font), sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
  padding: 2px 0;
  outline: none;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.hexInput::selection {
  background: var(--user-selection);
}

.DARK .hexInput {
  background: linear-gradient(-10deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.25) 40%);
  color: white;
}

.hexInput::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.DARK .hexInput::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
