*{
  margin: 0;
  padding: 0;
}

body{
  background: transparent;
}

#border{
  display: inline-block;
  border-radius: 90px;
}

#picker{
  margin: 3px;
  border-radius: 120px;
  overflow: hidden;
}

table{

}
  tr{
    display: flex;
  }
  td{
    margin: 0;
    width: 20px;
    height: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }

#l2-2{
  border: 1px solid black;
}
