body, *{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

html, body{
  overflow: hidden;
  height: 100%;
}

header{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background: #F1F4F8;
  border-bottom: 1px solid #CFDAE8;
  box-shadow: inset 0 -3px 20px -5px #CBD7E6;
}
  header li{
    width: 100px;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 7px 7px 0 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
  }
  header li:hover img, header li.active img{
    margin-bottom: 4px;
    margin-top: 0;
  }
  header li.active{
    background: white;
    box-shadow: 0 -3px 20px -5px #CBD7E6;
  }
    header li img{
      transition: 0.3s;
      margin-top: 4px;
      width: 50%;
    }
    header li p{
      margin: 2px 0;
      font-size: 0.8em;
      color: #2F3A4A;
    }

.panel{
  position: absolute;
  width: 100%;
  height: calc(100% - 109px);
  bottom: 0; left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.panel.active{
  visibility: visible;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 1.3s;
}
  .panel h2{
    color: #2BA0E0;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1.3em;
    border-bottom: 1px solid #8CCBEE;
    margin-bottom: 20px;
  }
  .panel > p{
    padding-left: 20px;
    color: #282E3D;
  }

  .panel section + p{
    margin-top: 30px;
  }

  #position, #type-icons{
    text-align: center;
    display: flex;
    justify-content: center;
  }
    #position li, #type-icons li{
      cursor: pointer;
      list-style: none;
      width: 200px;
      border: 1px solid #8991A3;
      color: #8991A3;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 10px;
      text-align: center;
    }
    #position li.active, #type-icons li.active{
      border: 1px solid #2BA0E0;
      color: #2BA0E0;
    }
      #position img{
        width: 100%;
      }
      #position li.active img{
        filter: sepia(50%) hue-rotate(180deg) saturate(200%);
      }

    #type-icons li{
      width: 140px;
    }
