body,
* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

*::-webkit-scrollbar-track {
    border-radius: 14px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #fff;
}

*::-webkit-scrollbar {
    width: 14px;
    margin: 5px 0;
    border-radius: 10px;
    background: #eef2f6;
}

*::-webkit-scrollbar-thumb {
    width: 14px;
    background-clip: padding-box;
    border-radius: 10px;
    background-color: #cad7e8;
    border: 3px solid #fff;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background: #f1f4f8;
    border-bottom: 1px solid #cfdae8;
    box-shadow: inset 0 -3px 20px -5px #cbd7e6;
}
header li {
    width: 100px;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 7px 7px 0 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
}
header li:hover img,
header li.active img {
    margin-bottom: 4px;
    margin-top: 0;
}
header li.active {
    background: white;
    box-shadow: 0 -3px 20px -5px #cbd7e6;
}
header li img {
    transition: 0.3s;
    margin-top: 4px;
    width: 50%;
}
header li p {
    margin: 2px 0;
    font-size: 0.8em;
    color: #2f3a4a;
}

.panel {
    position: absolute;
    width: 100%;
    height: calc(100% - 109px);
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.panel.active {
    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 1.3s;
}
.panel h2 {
    color: #2ba0e0;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1.3em;
    border-bottom: 1px solid #8ccbee;
    margin-bottom: 20px;
}
.panel > p {
    padding-left: 20px;
    color: #627893;
}
.panel > p span {
    color: #8295ab;
}

.panel section {
    margin-bottom: 30px;
}

p.toggle {
    cursor: pointer;
}
p.toggle + p {
    margin-top: 25px;
}
.toggle i {
    position: relative;
    top: 3px;
    font-size: 1.4em;
    color: #a6b3c4;
    margin: 5px;
    transition: 0.3s;
}
.toggle.active i {
    color: #2ba0e0;
}
.toggle i:before {
    content: "\f204";
}
.toggle.active i:before {
    content: "\f205";
}

/* GENERAL TAB */

#toolset {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#toolset .arrow {
    color: #69dbbb;
    font-size: 3em;
}
#allTools {
    min-width: 52px;
    max-width: 52px;
    height: 137px;
    margin: 0 12px 0 10px;
    padding: 6px;
    border-radius: 10px;
    border: 2px dashed #00798f;
    background: #f6fefc;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#selectedTools {
    display: flex;
    margin-left: 12px;
    border-top: 2px dashed #0a9182;
    border-left: 2px dashed #0a9182;
    border-bottom: 2px dashed #0a9182;
    background: url("../../ressources/toolset.png") top 28px left 0 no-repeat,
        #90eab8;
    background-size: contain;
    width: 350px;
    height: 137px;
    border-radius: 6px 0 0 6px;
    padding: 6px 0 6px 10px;
}
#toolset p {
    background: #62dcad;
    width: 17px;
    height: 17px;
    text-align: center;
    cursor: move;
    color: #0a9182;
    padding: 2px;
    border-radius: 3px;
    margin: 0 4px;
}
#toolset #allTools p {
    background: #beeeec;
    margin: 2px;
}
#toolset .sortable-drag {
    background: none !important;
    opacity: 0.8;
}
#reset {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 20px;
    color: #8d9cb0;
    cursor: pointer;
    font-size: 0.9em;
    transition: 0.3s;
}
#reset:hover {
    color: #ff5739;
}

/* COLORPICKER TAB */

#position,
#type-icons,
#zoom-level {
    text-align: center;
    display: flex;
    justify-content: center;
}
#position li,
#type-icons li,
#zoom-level li {
    cursor: pointer;
    list-style: none;
    width: 200px;
    border: 1px solid #f2f6fa;
    box-shadow: 2px 5px 10px 0 #e9edf2;
    color: #8991a3;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    transition: 0.3s;
}
#position li:not(.active) img,
#type-icons li:not(.active) img,
#zoom-level li:not(.active) img {
    opacity: 0.5;
    transition: 0.3s;
}
#position li:not(.active):hover img,
#type-icons li:not(.active):hover img,
#zoom-level li:not(.active):hover img {
    opacity: 0.7;
    transition: 0.3s;
}
#position li.active,
#type-icons li.active,
#zoom-level li.active {
    color: #2ba0e0;
}
#position img {
    width: 100%;
}
#position li.active img {
    filter: sepia(50%) hue-rotate(180deg) saturate(200%);
}

#type-icons li {
    width: 140px;
}

#zoom-level {
    flex-wrap: wrap;
}
#zoom-level li {
    width: 130px;
}

/* ABOUT */
#update span {
    color: #3b8bd5;
    cursor: pointer;
}
#update i {
    font-size: 1em;
}
