/* Reset CSS */

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Global Style */
@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url('@assets/fonts/UbuntuSans-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: UbuntuMono;
  font-display: swap;
  src: url('@assets/fonts/UbuntuSansMono-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: FiraCode;
  font-display: swap;
  src: url('@assets/fonts/FiraCode-VariableFont.ttf') format('truetype');
}

:root {
  --main-color: #3380cc;
  --opposite-color: #cc7f33;
  --colorpicker-background-color: white;
  --user-selection: var(--opposite-color);
  --colorpicker-font: FiraCode;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorpicker-background-color: #2d2d3a;
  }
}

html,
body {
  height: 100vh;
}

body {
  user-select: none;
}

body.bordered {
  border: 6px solid var(--main-color);
}
