:root .palettesWindow {
  --win-icon-gradient: linear-gradient(
    90deg,
    #e88441 0%,
    #ffaa71 25%,
    #ed5862 25%,
    #ff737c 50%,
    #de464e 50%,
    #fd6169 75%,
    #d65095 75%,
    #ff77bd 100%
  );

  --win-content-bg: var(--window-lightest);
  --win-content-border: var(--window-darker);
}

:root[data-theme='dark'] .palettesWindow {
  --win-icon-gradient: linear-gradient(
    90deg,
    #944fd3 0%,
    #7624c1 25%,
    #573ee8 25%,
    #422dbf 50%,
    #5789ef 50%,
    #4a7be0 75%,
    #44cbf4 75%,
    #2fa5c9 100%
  );

  --win-content-bg: var(--window-lighter);
  --win-content-border: var(--window-dark);
}

.palettesWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.iconGradient {
  height: 8px;
  width: 36px;
  background: var(--win-icon-gradient);
  border-radius: 2px;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
  padding: 5px 10px 10px 10px;
  gap: 10px;
}

.paletteContent {
  display: flex;
  flex-direction: column;
  background-color: var(--win-content-bg);
  border: 1.5px solid var(--win-content-border);
  border-radius: var(--radius-md);
  flex: 1;
  min-width: 0;
}

.paletteColors {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding: 20px 20px 60px 20px;
  gap: 20px;
}
