:root .paletteMenu {
  --p-menu-border: var(--surface-lighter);
}

:root[data-theme='dark'] .paletteMenu {
  --p-menu-border: var(--surface-dark);
}

.paletteMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 2px 8px;
  border-bottom: 1.5px solid var(--p-menu-border);
}
