.input {
  width: 42px;
  background: linear-gradient(160deg, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.1) 50%);
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  border-radius: 4px;
  padding: 2px 0;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.input::selection {
  background: var(--user-selection);
}

@media (prefers-color-scheme: dark) {
  .input {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.45) 20%, rgba(0, 0, 0, 0.4) 50%);
    color: rgba(255, 255, 255, 0.9);
  }
}
