:root .windowControls {
  --close-bg-hover: #d01929;
  --close-bg-active: #f44049;
  --close-icon-hover: white;
  --close-icon-active: rgb(255 255 255 / 70%);

  --win-icon: var(--overlay-darkest);
  --win-icon-active: var(--overlay-lighter);
  --win-icon-blur: var(--surface-darkest);
  --win-bg-hover: var(--window-darker);
  --win-bg-active: var(--window-dark);
}

:root[data-theme='dark'] .windowControls {
  --close-bg-active: #b8141e;

  --win-icon: var(--overlay-lightest);
  --win-icon-active: var(--overlay-darker);
  --win-icon-blur: var(--overlay-darkest);
  --win-bg-hover: var(--window-lightest);
  --win-bg-active: var(--window-lighter);
}

.windowControls {
  display: flex;
  height: 100%;
  -webkit-app-region: no-drag;
}

.controlButton {
  width: 46px;
  height: 100%;
  border: none;
  color: var(--win-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
  padding: 0;
  position: relative;
}

[class~='BLUR'] .controlButton {
  color: var(--win-icon-blur);
}

.controlButton:hover {
  background-color: var(--win-bg-hover);
  color: var(--win-icon);
}

.controlButton:active:hover {
  background-color: var(--win-bg-active);
  color: var(--win-icon-active);
}

.controlButton:focus-visible {
  outline: 2px solid var(--focus-outline);
  outline-offset: -2px;
}

.closeButton:hover {
  background-color: var(--close-bg-hover);
  color: var(--close-icon-hover);
}

.closeButton:active:hover {
  background-color: var(--close-bg-active);
  color: var(--close-icon-active);
}

.controlButton svg {
  pointer-events: none;
}
